/* ==== Created with TexturePacker ==== */

.flag { 
	width: 32px;
	height: 32px;
	background: {
		image:url(/img/countries@2x.png);
		size: 958px;
	}

}

@function half($value) {
	@return $value / 2;
}

.AF {
	background-position: half(-2px) half(-2px);
}
.AM {
	background-position: half(-2px) half(-68px);
}
.AR {
	background-position: half(-2px) half(-134px);
}
.AU {
	background-position: half(-68px) half(-2px);
}
.AZ {
	background-position: half(-68px) half(-68px);
}
.BE {
	background-position: half(-68px) half(-134px);
}
.BG {
	background-position: half(-134px) half(-2px);
}
.BH {
	background-position: half(-134px) half(-68px);
}
.BR {
	background-position: half(-134px) half(-134px);
}
.BS {
	background-position: half(-200px) half(-2px);
}
.BW {
	background-position: half(-200px) half(-68px);
}
.BY {
	background-position: half(-200px) half(-134px);
}
.CA {
	background-position: half(-266px) half(-2px);
}
.CH {
	background-position: half(-266px) half(-68px);
}
.CN {
	background-position: half(-266px) half(-134px);
}
.CO {
	background-position: half(-332px) half(-2px);
}
.CU {
	background-position: half(-332px) half(-68px);
}
.CY {
	background-position: half(-332px) half(-134px);
}
.CZ {
	background-position: half(-398px) half(-2px);
}
.DE {
	background-position: half(-398px) half(-68px);
}
.DK {
	background-position: half(-398px) half(-134px);
}
.DO {
	background-position: half(-464px) half(-2px);
}
.DZ {
	background-position: half(-464px) half(-68px);
}
.EE {
	background-position: half(-464px) half(-134px);
}
.EG {
	background-position: half(-530px) half(-2px);
}
.ES {
	background-position: half(-530px) half(-68px);
}
.ET {
	background-position: half(-530px) half(-134px);
}
.FI {
	background-position: half(-596px) half(-2px);
}
.FR {
	background-position: half(-596px) half(-68px);
}
.GA {
	background-position: half(-596px) half(-134px);
}
.GB {
	background-position: half(-662px) half(-2px);
}
.GD {
	background-position: half(-662px) half(-68px);
}
.GE {
	background-position: half(-662px) half(-134px);
}
.GR {
	background-position: half(-728px) half(-2px);
}
.GT {
	background-position: half(-728px) half(-68px);
}
.HK {
	background-position: half(-728px) half(-134px);
}
.HR {
	background-position: half(-794px) half(-2px);
}
.HU {
	background-position: half(-794px) half(-68px);
}
.ID {
	background-position: half(-794px) half(-134px);
}
.IE {
	background-position: half(-860px) half(-2px);
}
.IN {
	background-position: half(-860px) half(-68px);
}
.IR {
	background-position: half(-860px) half(-134px);
}
.IT {
	background-position: half(-926px) half(-2px);
}
.JM {
	background-position: half(-926px) half(-68px);
}
.JP {
	background-position: half(-926px) half(-134px);
}
.KE {
	background-position: half(-992px) half(-2px);
}
.KP {
	background-position: half(-992px) half(-68px);
}
.KR {
	background-position: half(-992px) half(-134px);
}
.KW {
	background-position: half(-1058px) half(-2px);
}
.KZ {
	background-position: half(-1058px) half(-68px);
}
.LT {
	background-position: half(-1058px) half(-134px);
}
.LV {
	background-position: half(-1124px) half(-2px);
}
.MA {
	background-position: half(-1124px) half(-68px);
}
.MD {
	background-position: half(-1124px) half(-134px);
}
.ME {
	background-position: half(-1190px) half(-2px);
}
.MN {
	background-position: half(-1190px) half(-68px);
}
.MX {
	background-position: half(-1190px) half(-134px);
}
.MY {
	background-position: half(-1256px) half(-2px);
}
.NL {
	background-position: half(-1256px) half(-68px);
}
.NO {
	background-position: half(-1256px) half(-134px);
}
.NZ {
	background-position: half(-1322px) half(-2px);
}
.PL {
	background-position: half(-1322px) half(-68px);
}
.PR {
	background-position: half(-1322px) half(-134px);
}
.PT {
	background-position: half(-1388px) half(-2px);
}
.QA {
	background-position: half(-1388px) half(-68px);
}
.RO {
	background-position: half(-1388px) half(-134px);
}
.RS {
	background-position: half(-1454px) half(-2px);
}
.RU {
	background-position: half(-1454px) half(-68px);
}
.SA {
	background-position: half(-1454px) half(-134px);
}
.SE {
	background-position: half(-1520px) half(-2px);
}
.SG {
	background-position: half(-1520px) half(-68px);
}
.SI {
	background-position: half(-1520px) half(-134px);
}
.SK {
	background-position: half(-1586px) half(-2px);
}
.TH {
	background-position: half(-1586px) half(-68px);
}
.TJ {
	background-position: half(-1586px) half(-134px);
}
.TN {
	background-position: half(-1652px) half(-2px);
}
.TR {
	background-position: half(-1652px) half(-68px);
}
.TT {
	background-position: half(-1652px) half(-134px);
}
.TW {
	background-position: half(-1718px) half(-2px);
}
.UA {
	background-position: half(-1718px) half(-68px);
}
.UG {
	background-position: half(-1718px) half(-134px);
}
.US {
	background-position: half(-1784px) half(-2px);
}
.UZ {
	background-position: half(-1850px) half(-2px);
}
.VE {
	background-position: half(-1784px) half(-68px);
}
.ZA {
	background-position: half(-1784px) half(-134px);
}
